.Container {
  /*background-color: aqua;*/
  margin-top: 2%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.contenedor-imagenes {
  border: 1px solid black;
  display: flex;
  justify-items: center;
  width: 90%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.Img {
  width: 100%;
  transition-property: width 4s;
}

.Der {
  margin-left: 2%;
  margin-right: 5%;
  width: 10%;
  height: 400px;
}
.skipLeft {
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.skipRight {
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.slide {
  display: flex;
  justify-content: center;
}

.sinResaltar {
  background-color: rgb(92, 135, 163);
  border: 1px solid black;
  border-radius: 20px;
  width: 14px;
  height: 14px;
  font-size: 22px;
  margin-top: 3%;
  margin-left: 5px;
  cursor: pointer;
}
.resaltar {
  background-color: rgb(63, 148, 37);
  border: 1px solid black;
  border-radius: 20px;
  width: 18px;
  height: 18px;
  font-size: 26px;
  margin-top: 3%;
  margin-left: 5px;
  cursor: pointer;
}
