.Marco {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.Boto {
  width: 70%;
  height: 30%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cambioColor {
  background-color: rgb(216, 17, 156);
  color: white;
}

.letraTexto {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
