.Marco {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.Boto {
  width: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cambioColor {
  background-color: rgb(216, 17, 156);
  color: white;
}

.letraTexto {
  text-align: center;
  justify-content: center;
  align-items: center;
}
