.Marco {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  width: 30%;
}
.Botones {
  width: 70%;
  border: 1px solid black;
}

.cambioColor {
  background-color: rgb(216, 17, 156);
  color: white;
}
