.contenedor {
  display: flex;
  flex-direction: column;

  align-items: center;
  max-width: 400px;
  margin: 50px;
}
.clicado {
  transition-duration: 0.4s;
  border: 2px solid #4caf50;
  background-color: white;
  color: #4caf50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.noClicado {
  transition-duration: 0.4s;
  border: 2px solid #4caf50;
  background-color: rgba(165, 42, 42, 0.699);
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

h1 {
  max-width: max-content;
  color: black;
}
