.Post {
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 22px;

  background-image: url("https://cdn.pixabay.com/photo/2020/09/02/08/19/dinner-5537679_960_720.png");
}

.Titulo {
  margin: 10px auto;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Primer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 5px auto;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Inactivo {
  display: none;
}

li {
  width: 100%;
  color: darkblue;
  font: bold;
  align-items: center;
}
